<div *ngIf="group$ | async as group; else loading" class="component pb-4">
  <div *ngIf="auth.user$ | async as user">
    <div class="header text-center">
      <h2 class="text-center">{{ group.name }}</h2>
      <h5 class="text-center">Join Code: {{ group.id }}</h5>
      <p class="text-center">{{ group.desc }}</p>
      <button
        type="button"
        class="btn btn-danger"
        data-toggle="modal"
        data-target="#leaveModal"
        *ngIf="group.createdby != user.uid"
      >
        Leave Group
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-toggle="modal"
        data-target="#deleteModal"
        *ngIf="group.createdby == user.uid"
      >
        Delete Group
      </button>
    </div>

    <div class="container">
      <div class="row">
        <app-list
          *ngFor="let member of group.members | currentID: user.uid"
          [memberID]="member"
          [current]="user"
          [group]="group"
          class="col-sm-12 col-md-6"
        ></app-list>
      </div>
      <app-my-list [user]="user" [group]="group" class="col-6"></app-my-list>
      <app-chat [group]="group.id" [user]="user"></app-chat>
    </div>

    <!-- leave modal -->
    <div
      class="modal fade"
      id="leaveModal"
      tabindex="-1"
      aria-labelledby="leaveModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="leaveModalLabel">Leaving Group</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to leave <strong>{{ group.name }}?</strong>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              (click)="onLeave(user, group)"
            >
              Leave
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete modal -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Leaving Group</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete <strong>{{ group.name }}?</strong>
            <p class="text-danger">This cannot be undone!</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
              (click)="onDelete(group)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading><app-loading></app-loading></ng-template>
