<div class="text-center footer p-2 m-0">
  <small class="text-center">Copyright 2020</small>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://docs.google.com/forms/d/e/1FAIpQLSdlaDzKm2cjsPHjfuV-BWUL3jFkBDZO7U8vA3msg_50dk9R5g/viewform?usp=sf_link"
        target="_blank"
      >
        Feedback
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="disclosures">Disclosures</a>
    </li>
  </ul>
</div>
