<div class="style pb-5">
  <div class="component">
    <div class="jumbotron jumbotron-fluid">
      <div class="conainer">
        <h1 class="display-4 text-center p-3 text-danger">
          Welcome to <em>Group Lists!</em>
        </h1>
        <p class="text-center p-3">
          Here you can join groups with your friends and family to compare and
          cross items off each others lists!
        </p>
        <div
          *ngIf="this.auth.user$ | async as user; else login"
          class="text-center"
        >
          <button class="btn btn-primary btn-lg" routerLink="/groups">
            See your Groups
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="this.auth.user$ | async as user" class="text-center container">
      <app-create-group></app-create-group>
      <app-join-group></app-join-group>
    </div>
    <ng-template #login>
      <div class="text-center">
        <h4>Sign In to start joining and creating Groups!</h4>
        <a routerLink="/signin" class="btn btn-primary text-center m-2 btn-lg">
          Sign In
        </a>
        <a routerLink="/signup" class="btn btn-primary text-center m-2 btn-lg">
          Sign Up
        </a>
      </div>
    </ng-template>
  </div>
</div>
